/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace skins "cl.foursoft.eee.vistas.estilos.skins.*";

/*-------------------------------------------*/
/*FONT-FACE*/
/*-------------------------------------------*/
/*GOTHAM THIN*/
@font-face {	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-Thin.otf");
	fontFamily: gotham-thin; 
	fontWeight: normal;
}

@font-face {
	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-thin-webfont.ttf");
	fontFamily: gotham-thin; 
	fontWeight: bold;
	embed-as-cff: false;
}

@font-face {
	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-ThinIta.otf");
	fontFamily: gotham-thin; 
	fontStyle: italic;
	embed-as-cff: false;
}
/*GOTHAM BOOK*/
@font-face {
	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-Book.otf");
	fontFamily: gotham-book;
}
@font-face {
	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-BookIta.otf");
	fontFamily: gotham-book;
	fontStyle: italic;
	embed-as-cff: false;
}

/*GOTHAM BOLD*/
@font-face {
	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-Bold.otf");
	fontFamily: gotham-bold;
	fontWeight: bold;
	embed-as-cff: false;
}

/*GOTHAM EXTRA LIGHT*/
@font-face {
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-XLight.otf");
	fontFamily: gotham-Xlight;
}
@font-face {
	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-XLight.otf");
	fontFamily: gotham-Xlight;
	textDecoration:underline;
}
@font-face {
	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-xlight-webfont.ttf");
	fontFamily: gotham-Xlight;
	fontWeight: bold;
	embed-as-cff: false;
}

@font-face {
	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-XLightIta.otf");
	fontFamily: gotham-Xlight;
	fontStyle: italic;
	embed-as-cff: false;
}

/*GOTHAM LIGH*/
@font-face {
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-Light.otf");
	fontFamily: gotham-light;
}
@font-face {
	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-Light.otf");
	fontFamily: gotham-light;
	textDecoration:underline;
}
@font-face {
	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-Light-webfont.ttf");
	fontFamily: gotham-light;
	fontWeight: bold;
	embed-as-cff: false;
}

@font-face {
	
	src : url("cl/foursoft/eee/vistas/estilos/fuentes/Gotham/Gotham-LightIta.otf");
	fontFamily: gotham-light;
	fontStyle: italic;
	embed-as-cff: false;
}


/*@font-face {
	
	src : url('cl/foursoft/eee/vistas/estilos/fuentes/Gotham/gotham-thin.otf');
	font-family: gotham-thin; 
	embed-as-cff : true;
	embedAsCFF : false;
}*/

/**{
	embedAsCFF : false;
}

s:label{
	embedAsCFF : false;
}*/
s|Label{
	fontFamily : gotham-light;
}

mx|Label{
	fontFamily : gotham-light;
}

s|Button{
	fontFamily : gotham-light;
}

mx|LinkButton{
	embedFonts: true;
	fontFamily : gotham-light;
	fontWeight : bold;
}

s|DataGrid{
	embedFonts: true;
	fontFamily : gotham-thin;
}



.contenedorLogin {
 	backgroundImage: Embed("../imagenes/background-grande.jpg");
	backgroundImageFillMode : repeat;
}
/*-------------------------------------------*/
/*---LOGIN---*/
/*-------------------------------------------*/
.tooTipTextInputLabel{ 
	fontFamily: "Arial"; 
	fontSize: 10;
	cornerRadius : 3;
	color: #000000; 
	backgroundColor: #ffffff;
	backgroundAlpha : 0.9;
}
 s|ToolTip{
	 fontFamily: "Arial"; 
	 fontSize: 12;
	 cornerRadius : 3;
	 color: #000000; 
	 backgroundColor: #ffffff;
	 backgroundAlpha : 1;
 }
s|DropDownList{
	color : #000000;
}
#windowLogin
{  
	headerHeight : 70px;
	corner-radius: 15;
	color : #555555;


	fontFamily : gotham-xlight;
	fontSize : 36;
 
	
 	backgroundColor : #ccccd9;
 	chromeColor : #f1f1f5;
	
	skin-class : ClassReference("cl.foursoft.eee.vistas.estilos.skins.PanelSkinEEE");
}
#txtUsuario , #txtContrasenia {
	
	skin-class : ClassReference("cl.foursoft.eee.vistas.estilos.skins.TextInputLoginSkinEEE");
	contentBackgroundColor : #909090;
	color : black;
 	focusAlpha : 0;
	fontFamily : gotham-thin;
	fontSize : 14;
	fontStyle : normal;
	cornerRadius : 4;
	
}
#txtUsuario:normalWithPrompt , #txtContrasenia:normalWithPrompt {
	 
	fontFamily : gotham-thin;
	fontSize : 12;
	color : black;
}
 


#btnEntrar{
	up-skin: Embed(source="../imagenes/botonLogin_down.png") ;
	over-skin: Embed(source="../imagenes/botonLogin_up.png");
	down-skin: Embed(source="../imagenes/botonLogin_over.png");
	
}

#contLogo , #contDerecha{
	backgroundColor : #727782;
	backgroundAlpha : 0.3;
	borderVisible : false; 
		
}
/*-------------------------------------------*/
/*---BOTONES MENU ADMINISTRACION---*/
/*-------------------------------------------*/
.btnMenuMateriales{
	upIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuMateriales_up.png"); 
	overIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuMateriales_over.png");
	downIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuMateriales_selected.png");
	selectedUpIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuMateriales_over.png"); 
	selectedOverIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuMateriales_over.png"); 
}
.btnMenuArtefactos{
	upIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuArtefactos_up.png"); 
	overIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuArtefactos_over.png");
	downIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuArtefactos_selected.png");
	selectedUpIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuArtefactos_over.png"); 
	selectedOverIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuArtefactos_over.png"); 
}
.btnMenuClientes{
	upIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuClientes_up.png"); 
	overIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuClientes_over.png");
	downIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuClientes_selected.png");
	selectedUpIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuClientes_over.png"); 
	selectedOverIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuClientes_over.png"); 
}
.btnMenuParametros{
	upIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuParametros_up.png"); 
	overIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuParametros_over.png");
	downIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuParametros_selected.png");
	selectedUpIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuParametros_over.png"); 
	selectedOverIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuParametros_over.png"); 
}
.btnMenuSensores{
	upIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuSensores_up.png"); 
	overIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuSensores_over.png");
	downIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuSensores_selected.png");
	selectedUpIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuSensores_over.png"); 
	selectedOverIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuSensores_over.png"); 
}
/*VISTAS PARA GESTION*/
.btnGraficar{
	upIcon: Embed("../imagenes/VPG24.png"); 
	overIcon: Embed("../imagenes/VPG24.png");
	downIcon: Embed("../imagenes/VPG24.png");
	selectedUpIcon: Embed("../imagenes/VPG24.png"); 
	selectedOverIcon: Embed("../imagenes/VPG24.png"); 
}
.btnQueEsAlerta{
	upIcon: Embed("../imagenes/ayudaAlerta.png"); 
	overIcon: Embed("../imagenes/ayudaAlerta.png");
	downIcon: Embed("../imagenes/ayudaAlerta.png");
	selectedUpIcon: Embed("../imagenes/ayudaAlerta.png"); 
	selectedOverIcon: Embed("../imagenes/ayudaAlerta.png"); 
}
.eliminarAlerta{
	upIcon: Embed("../imagenes/eliminar_alerta.png"); 
	overIcon: Embed("../imagenes/eliminar_alerta.png");
	downIcon: Embed("../imagenes/eliminar_alerta.png");
	selectedUpIcon: Embed("../imagenes/eliminar_alerta.png"); 
	selectedOverIcon: Embed("../imagenes/eliminar_alerta.png"); 
}
/*-------------------------------------------*/
/*---BOTONES MENU---*/
/*-------------------------------------------*/
.btnMenuSelected{
	fontSize : 16; 
	borderVisible : false;
	
	textAlign : left;
	borderAlpha:0;
	rollOverColor : #333333;
	color: #f0cf3a;/*Amarillo de texto de menus*/
	textRollOverColor: #f0cf3a;/*Amarillo de texto de menus*/
}

.btnMenu{
	fontSize : 16; 
	borderVisible : false;
	color : white;
	textAlign : left;
	borderAlpha:0;
	rollOverColor : #333333;
	textRollOverColor: #f0cf3a;/*Amarillo de texto de menus*/
	
}

.btnAlert  {
	upIcon: Embed("../imagenes/alert.png"); 
	overIcon: Embed("../imagenes/alert.png");
	downIcon: Embed("../imagenes/alert.png");
	selectedUpIcon: Embed("../imagenes/alert.png"); 
	selectedOverIcon: Embed("../imagenes/alert.png"); 
 }
.btnCron  {
	upIcon: Embed("../imagenes/cron.png"); 
	overIcon: Embed("../imagenes/cron.png");
	downIcon: Embed("../imagenes/cron.png");
	selectedUpIcon: Embed("../imagenes/cron.png"); 
	selectedOverIcon: Embed("../imagenes/cron.png"); 
 }
.btnMenuMonitoreo  {
	upIcon: Embed("../imagenes/iconosMenu/botonMonitoreo_over.png"); 
	overIcon: Embed("../imagenes/iconosMenu/botonMonitoreo_selected.png");
	downIcon: Embed("../imagenes/iconosMenu/botonMonitoreo_up.png");
	selectedUpIcon: Embed("../imagenes/iconosMenu/botonMonitoreo_selected.png"); 
	selectedOverIcon: Embed("../imagenes/iconosMenu/botonMonitoreo_selected.png"); 
 }
.btnMenuVistas{
	upIcon: Embed("../imagenes/iconosMenu/botonVerOp_over.png"); 
	overIcon: Embed("../imagenes/iconosMenu/botonVerOp_selected.png");
	downIcon: Embed("../imagenes/iconosMenu/botonVerOp_up.png");
	selectedUpIcon: Embed("../imagenes/iconosMenu/botonVerOp_selected.png"); 
	selectedOverIcon: Embed("../imagenes/iconosMenu/botonVerOp_selected.png"); 
}
.btnMenuAlternativas {
	upIcon: Embed("../imagenes/iconosMenu/botonEconomica_over.png"); 
	overIcon: Embed("../imagenes/iconosMenu/botonEconomica_selected.png");
	downIcon: Embed("../imagenes/iconosMenu/botonEconomica_up.png");
	selectedUpIcon: Embed("../imagenes/iconosMenu/botonEconomica_selected.png"); 
	selectedOverIcon: Embed("../imagenes/iconosMenu/botonEconomica_selected.png");
}
.btnMenuConfiguracion{
	upIcon: Embed("../imagenes/iconosMenu/botonConfig_over.png"); 
	overIcon: Embed("../imagenes/iconosMenu/botonConfig_selected.png");
	downIcon: Embed("../imagenes/iconosMenu/botonConfig_up.png");
	selectedUpIcon :  Embed("../imagenes/iconosMenu/botonConfig_selected.png");
	selectedOverIcon :  Embed("../imagenes/iconosMenu/botonConfig_selected.png");
}
/*Estilo Ver req Energetico*/
.btnVerRequerimientoEnergetico {
	upIcon: Embed("../imagenes/reqenergetico64.png"); 
	overIcon: Embed("../imagenes/reqenergetico64.png");
	downIcon: Embed("../imagenes/reqenergetico64.png");
	/*selectedUpIcon :  Embed("../imagenes/reqenergetico64.png");
	selectedOverIcon :  Embed("../imagenes/reqenergetico64.png");*/
}
.btnMenuMonitoreoSelected{
	upIcon:Embed("../imagenes/iconosMenu/botonMonitoreo_selected.png");
 
	overIcon: Embed("../imagenes/iconosMenu/botonMonitoreo_selected.png");
	
}
.btnMenuVistasSelected{
	upIcon: Embed("../imagenes/iconosMenu/botonVerOp_selected.png"); 
	overIcon: Embed("../imagenes/iconosMenu/botonVerOp_selected.png");
}
.btnMenuAlternativasSelected{
	upIcon: Embed("../imagenes/iconosMenu/botonEconomica_selected.png"); 
	overIcon: Embed("../imagenes/iconosMenu/botonEconomica_selected.png");
}
.btnMenuConfiguracionSelected{
	overIcon: Embed("../imagenes/iconosMenu/botonConfig_selected.png");
	upIcon: Embed("../imagenes/iconosMenu/botonConfig_selected.png"); 
	
}
.btnAgregarBase{
	upIcon: Embed("../imagenes/add.png"); 
	overIcon: Embed("../imagenes/add.png");
	downIcon: Embed("../imagenes/add.png");
	selectedUpIcon: Embed("../imagenes/add.png"); 
	selectedOverIcon: Embed("../imagenes/add.png");
}
.btnMinimizarBase{
	upIcon: Embed("../imagenes/less.png"); 
	overIcon: Embed("../imagenes/less.png");
	downIcon: Embed("../imagenes/less.png");
	selectedUpIcon: Embed("../imagenes/less.png"); 
	selectedOverIcon: Embed("../imagenes/less.png");
}
.btnAgregarBaseChico{
	upIcon: Embed("../imagenes/add16.png"); 
	overIcon: Embed("../imagenes/add16.png");
	downIcon: Embed("../imagenes/add16.png");
	disabledIcon :Embed("../imagenes/add16.png"); 
	selectedUpIcon: Embed("../imagenes/add16.png"); 
	selectedOverIcon: Embed("../imagenes/add16.png");
}
.btnMinimizarBaseChico{
	upIcon: Embed("../imagenes/less16.png"); 
	overIcon: Embed("../imagenes/less16.png");
	downIcon: Embed("../imagenes/less16.png");
	disabledIcon :  Embed("../imagenes/less16.png");
	selectedUpIcon: Embed("../imagenes/less16.png"); 
	selectedOverIcon: Embed("../imagenes/less16.png");
}
/*-------------------------------------------*/
/*---DASHBOARD---*/
/*-------------------------------------------*/
.contenedorDashboard{
	backgroundImage: Embed("../imagenes/background-grande.jpg");
	backgroundImageFillMode : repeat;
	
}
.contenedor{
	backgroundColor : #686868;
	backgroundAlpha : 0.5;
}
.sinFondo{
	backgroundAlpha : 0 ;
}
.sinBorde{ 
	borderVisible : false;
	borderAlpha : 0.5;
	borderThickness : 0;
	borderColor : red;
	borderWeight : 0;
	
}
.datosUsuarioEncabezado{
 
}
#contenedorContenido{
	
}
.contenedorMapa{
 
}
#contenedorMenu{
}
#lblNombreUsuario{
	  
}
#lblNombreSistema{
 
}
.lblBlanco{
	color : white;
}
#contenedorEncabezado {
 
}

/*ESTILOS ALTERNATIVAS*/
.btnNuevaAlternativaEnvolvente{
	
	upIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuMateriales_over.png"); 
	overIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuMateriales_selected.png");
	downIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuMateriales_selected.png");
/*	selectedUpIcon: Embed("../imagenes/iconosMenu/btnMenuMateriales_selected.png"); 
	selectedOverIcon: Embed("../imagenes/iconosMenu/btnMenuMateriales_selected.png"); */

}
.btnNuevaAlternativaArtefacto{
	
	upIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuArtefactos_over.png"); 
	overIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuArtefactos_selected.png");
	downIcon: Embed("../imagenes/iconosMenuAdministracion/btnMenuArtefactos_selected.png");
	/*	selectedUpIcon: Embed("../imagenes/iconosMenu/btnMenuMateriales_selected.png"); 
	selectedOverIcon: Embed("../imagenes/iconosMenu/btnMenuMateriales_selected.png"); */

}
/*-------------------------------------------*/
/*VISTA DETALLE PANTALLA MAPA*/
/*-------------------------------------------*/

.tituloVistDetalle {
	paddingLeft : 10;
	paddingTop : 10;
	
	
	fontSize : 15;
	color : white;
}
/*-------------------------------------------*/
/*BOTONES PANTALLA CONFIGURACION*/
/*-------------------------------------------*/
.btnConfiguracion{
	fontSize : 20;
	fontFamily : gotham-light;
 	textRollOverColor : blue;
 	paddingRight : 20;
	paddingLeft : 20;
	color : yellow;
	backgroundColor : #44ca8e;
	upSkin : Embed("../imagenes/btnConfig_up.png");
	overSkin : Embed("../imagenes/btnConfig_over.png");	
	 
}


/*-------------------------------------------*/
/*POPUP SELECCIONAR UBICACION EDIFICIO*/
/*-------------------------------------------*/
.ventanaSeleccionarDireccion{
	chromeColor : #787D84;
	backgroundColor : #4d5158;
	backgroundAlpha : 0.9;
	color : #f2d03b;
	fontSize : 14;
	fontFamily : gotham-book;
	cornerRadius : 5;
	borderVisible : false;
	
}
/*-------------------------------------------*/
/*CONFIGURACION :  ADMINISTRACION DE EDIFICIOS (CREAR)*/
/*-------------------------------------------*/
.panelCrearEdificio
{  
	headerHeight : 50px;
	corner-radius: 5;
	color : #f2d03b;
	/*font-family: gotham-book;  */ 
    fontStyle : normal;
 
	backgroundColor : #4D5158  ;
	backgroundAlpha : 0.6;
	chromeColor : #4D5158;
	 
	skin-class : ClassReference("cl.foursoft.eee.vistas.estilos.skins.PanelSkinEEE");
}

.panelCrearVistasGestion
{  
	headerHeight : 50px;
	corner-radius: 5;
	color : #f2d03b;
	/*font-family: gotham-book; */  
	fontStyle : normal;
	
	backgroundColor : #4D5158  ;
	backgroundAlpha : 0.6;
	chromeColor : #4D5158;
	
	skin-class : ClassReference("cl.foursoft.eee.vistas.estilos.skins.PanelSkinEEE");
}

.panelParametrosEvaluacion
{  
	headerHeight : 50px;
	corner-radius: 5;
	color : #f2d03b;
	font-family: gotham-book;   
	fontStyle : normal;
	
	backgroundColor : #4D5158  ;
	backgroundAlpha : 0.6;
	chromeColor : #4D5158;
	
	skin-class : ClassReference("cl.foursoft.eee.vistas.estilos.skins.PanelSkinEEE");
} 
.lblFormularioEdificio{
	color : #bac9e6;
	fontSize : 16;
	fontFamily :  gotham-thin ;
	fontWeight : normal;
	textAlign : right;
	
}
.lblFormularioEvaluacionVer{
	color : #000000;
	fontSize : 16;
	fontFamily :  gotham-thin ;
	fontWeight : normal;
	
}

.lblFormularioEvaluacion{
	color : #bac9e6;
	fontSize : 16;
	fontFamily :  gotham-thin ;
	fontWeight : normal;
 
	
}
.lblFormularioResumenInfo{
	color : #bac9e6;
	fontSize : 14;
	fontFamily :  gotham-thin ;
	fontWeight : normal;
	
}
.lblDatosResumenEdificio{
	color : #bac9e6;
	fontSize : 12;
	fontFamily :  gotham-thin ;
	fontWeight : normal;
	textAlign : right;
	
}
.txtCampoFormulario_valores{
/*	skin-class : ClassReference("cl.foursoft.eee.vistas.estilos.skins.TextInputLoginSkinEEE");*/
	 
 	backgroundAlpha : 0;
 	borderAlpha:0;
	fontSize : 14;
	 color : black;
	 borderVisible : false;
 	focusAlpha : 0;
	contentBackgroundAlpha : 0;
	textAlign : left;
}
.txtCampoFormulario{
	skin-class : ClassReference("cl.foursoft.eee.vistas.estilos.skins.TextInputLoginSkinEEE");
	contentBackgroundColor : #959595;
 	color : black;
	focusAlpha : 0;
	fontFamily : Tahoma;
	fontSize : 12;
	fontStyle : normal;
	cornerRadius : 4;
	textAlign : left;
}
.bcMenuConfigSuperior{
	backgroundAlpha : 0.2;
	backgroundColor : #999999; 
 
}
.bcMenuConfigInferios{
	backgroundColor : #4d5158;
 
 
}
.vruleDivisionMenu{
	shadowColor : #333333;
	fillColor : #334455;
	strokeColor : #555555;
}
.hruleDivisionMenu{
	shadowColor : #333333;
	fillColor : #334455;
	strokeColor : #555555;
	strokeWidth:5;
	paddingBottom : 0;
	paddingTop : 0;
}


.btnConfigMenuSuperiorPrincipal{
	color : #dce0eb;
	textRollOverColor: black;/*Amarillo de texto de menus*/
	rollOverColor : #f2d03b;
	selectionColor : #f2d03b;  /*amarillo*/
/*	fontFamily : gotham-light;*/
	fontSize : 12;
	skin : ClassReference("cl.foursoft.eee.vistas.estilos.skins.LinkButtonEEE");
} .btnConfigMenuSuperiorSecundario{
	color : #dce0eb;
	textRollOverColor: #444444;/*gris de texto de menus*/
	cornerRadius : 0;
	rollOverColor : #666666;
	selectionColor : #f2d03b;  /*amarillo*/
	/*fontFamily : gotham-thin-bold;*/
	fontSize : 12;
	skin : ClassReference("cl.foursoft.eee.vistas.estilos.skins.LinkButtonEEE"); 
}


label.asignarPisos{
	color : #dce0eb;
	textRollOverColor: black;/*Amarillo de texto de menus*/
	rollOverColor : #f2d03b;
	selectionColor : #f2d03b;  /*amarillo*/
	fontFamily : gotham-light;
	fontSize : 12;
}


.ruleFormularioAgregarEdificio {

	strokeWidth : 1;
	strokeColor : #4d5158;
}
.listaAsignarSensores{
	cornerRadius : 10;
	 
	contentBackgroundColor : #959595;
	skin : ClassReference("cl.foursoft.eee.vistas.estilos.skins.ListSkinEEE");
}


.botonFormularioCrearEdificio{

 
	
}
.botonCancelarCrearEdificio{
	up-skin : Embed(source = "../imagenes/botCancelar_up.png" );
	over-skin : Embed(source = "../imagenes/botCancelar_over.png");
	down-skin : Embed(source = "../imagenes/botCancelar_down.png");
}

.botonGuardarCrearEdificio{

	up-skin : Embed(source = "../imagenes/botonGuardar1.png" ) ;
	over-skin : Embed(source = "../imagenes/botonGuardar2.png") ;
	down-skin : Embed(source = "../imagenes/botonGuardar3.png")  ;
	
}
.botonMas_agregarPartes{
	up-skin : Embed(source = "../imagenes/botonMas_up.png" ) ;
	over-skin : Embed(source = "../imagenes/botonMas_over.png") ;
	down-skin : Embed(source = "../imagenes/botonMas_down.png")  ;
}
.botonPosicionedificio{
	up-skin : Embed(source = "../imagenes/position30Up.png" ) ;
	over-skin : Embed(source = "../imagenes/position30Over.png") ;
	down-skin : Embed(source = "../imagenes/position30Up.png")  ;
}
.botonEditar16{
	up-skin : Embed(source = "../imagenes/iconosItemRender/edicion16.png" ) ;
	over-skin : Embed(source = "../imagenes/iconosItemRender/edicion16.png") ;
	down-skin : Embed(source = "../imagenes/iconosItemRender/edicion16.png")  ;
	disabled-skin : Embed(source = "../imagenes/iconosItemRender/edicion16.png")  ;
}
.botonEditar{
	up-skin : Embed(source = "../imagenes/iconosItemRender/edit16.png" ) ;
	over-skin : Embed(source = "../imagenes/iconosItemRender/edit16.png") ;
	down-skin : Embed(source = "../imagenes/iconosItemRender/edit16.png")  ;
	disabled-skin : Embed(source = "../imagenes/iconosItemRender/edit16.png")  ;
}
.botonEditar16{
	up-skin : Embed(source = "../imagenes/iconosItemRender/edicion16.png" ) ;
	over-skin : Embed(source = "../imagenes/iconosItemRender/edicion16.png") ;
	down-skin : Embed(source = "../imagenes/iconosItemRender/edicion16.png")  ;
}
.botonVer2{
	up-skin : Embed(source = "../imagenes/iconosItemRender/ver.png" ) ;
	over-skin : Embed(source = "../imagenes/iconosItemRender/ver.png") ;
	down-skin : Embed(source = "../imagenes/iconosItemRender/ver.png")  ;
}
.botonEliminar{
	up-skin : Embed(source = "../imagenes/iconosItemRender/close.png" ) ;
	over-skin : Embed(source = "../imagenes/iconosItemRender/close.png") ;
	down-skin : Embed(source = "../imagenes/iconosItemRender/close.png")  ;
	disabled-skin : Embed(source = "../imagenes/iconosItemRender/close.png")  ;
}
.btnMenuEliminar{
	upIcon: Embed("../imagenes/iconosItemRender/delete16Up.png"); 
	overIcon: Embed("../imagenes/iconosItemRender/delete16Up.png");
	downIcon: Embed("../imagenes/iconosItemRender/delete16Up.png");
/*	selectedUpIcon :  Embed("../imagenes/iconosItemRender/delete16Up_2.png");
	selectedOverIcon :  Embed("../imagenes/iconosItemRender/delete16Up_2.png");*/
}
.botonAceptar{
	up-skin : Embed(source = "../imagenes/iconosItemRender/aceptar.png" ) ;
	over-skin : Embed(source = "../imagenes/iconosItemRender/aceptar.png") ;
	down-skin : Embed(source = "../imagenes/iconosItemRender/aceptar.png")  ;
	disabled-skin : Embed(source = "../imagenes/iconosItemRender/aceptar.png")  ;
}
.botonVer{
	up-skin : Embed(source = "../imagenes/iconosItemRender/ver1.png" ) ;
	over-skin : Embed(source = "../imagenes/iconosItemRender/ver1.png") ;
	down-skin : Embed(source = "../imagenes/iconosItemRender/ver1.png")  ;
	disabled-skin : Embed(source = "../imagenes/iconosItemRender/ver1.png")  ;
}
.btnReenviarEmail{
	up-skin : Embed(source = "../imagenes/email.png" ) ;
	over-skin : Embed(source = "../imagenes/email.png") ;
	down-skin : Embed(source = "../imagenes/email.png")  ;
	selected-skin : Embed(source = "../imagenes/email.png")  ;
	disabled-skin : Embed(source = "../imagenes/email.png")  ;
	selectedUpIcon: Embed("../imagenes/email.png"); 
	selectedOverIcon: Embed("../imagenes/email.png"); 
}
/*MENU VISTAS MAPA*/
.bcMenuVistasMapa{
	backgroundColor : #4d5158;
}
/** 
	COMPONENET VISTA DETALLE EDIFICIO
**/
.btnTipoSensor{
	chromeColor : #ffbe00;
	fontSize : 10;
	fontFamily : gotham-light;
	fontThickness : 200;
}
/*FIN*/
/*Etiquetas auxiliares del formulario*/
s|Label.etiquetsFormulario
{
/*	paddingLeft: 30;*/
	verticalAlign: middle;
	fontSize : 14;
	fontFamily : gotham-thin;
	textAlign : right;
	fontWeight : bold;
}
.ImagenMaterial{
	backgroundImage : Embed("../imagenes/material_default.png");
	
}

.ImagenArtefacto{
	backgroundImage : Embed("../imagenes/artefacto_default.png");
	
}
/*Imagen del Edificio*/
.ImagenEdificio{
	backgroundImage : Embed("../imagenes/edificio_default.png");
	 
}
.ImagenUpload{

	backgroundImage : Embed("../imagenes/upload.png");
}
/*ESTILO DEL SCROLLBAR*/
#scrollBarStyle{
	chromeColor : #4d5158;
}
 /*DATAGRID ASIGNAR PISO/ZONA/SENSOR*/
.txtAsignarPisos {
	
	skin-class : ClassReference("cl.foursoft.eee.vistas.estilos.skins.TextInputLoginSkinEEE");
	contentBackgroundColor : #909090;
	color : black;
	focusAlpha : 0;
	fontFamily : gotham-thin;
	fontSize : 14;
	fontStyle : normal;
	cornerRadius : 4;
	
}
.estiloAlerta{
	backgroundColor : #F2D03B ;
	color 			: black;
	cornerRadius 	: 5;
}
.estiloAviso{
	backgroundColor : #3FA520 ;
	color 			: white;
	cornerRadius 	: 5;
}
.estiloError{
	backgroundColor : #F40A0A ;
	color 			: white;
	cornerRadius 	: 5;
}
.avisoWarning{
}

.unidad_completa{
	paddingLeft : 4;
}
.unidad{
	fontSize : 12;
	paddingRight : 0;
	paddingBottom : 0;
}

.exponente{
	fontSize :  10;
	paddingRight : 2;
	paddingBottom : 7;
}
/*Estilos Evaluacion*/
.tituloFomularioEvaluacion{
	fontSize:16;
/*	color : #DCE0E6;*/
	color : #f2d03b;
	fontFamily : gotham-light;
}
.textoResumenEvaluacion{
	fontSize:14;
	color : #DCE0E6;
	fontFamily : gotham-light;
}
.estiloTituloEnvolvente{
	fontSize : 15;
	fontFamily : gotham-light;
	fontWeight : bold;
}
.estiloDetalleEnvolvente{
	fontSize : 13;
	color : #DCE0E6;
	fontFamily : gotham-light;
	fontWeight : bold;
}
s|CheckBox {
	chromeColor : #ffffff;
}

.listasVistaParaGestion{
	contentBackgroundColor : #959595;
}


global
{
	modalTransparency: 0.8;
	modalTransparencyColor: #555555;
	modalTransparencyDuration: 300;
}

ColumnChart {
	itemRollOverColor: haloSilver;
	itemSelectionColor: haloBlue;
}
.myCPStyle {
/*	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	headerHeight: 20;
	dropShadowEnabled: false;
	headerColors: #d9d9d9, #ffffff;
	borderAlpha: 1;
	backgroundAlpha: 0;
	paddingTop: 4;
	paddingLeft: 4;
	paddingRight: 4;
	verticalGap: 4;*/
	
	openIcon: Embed(source="../imagenes/swf/icono_panel.swf", symbol="CollapsiblePanelOpenIcon");
	closedIcon: Embed(source="../imagenes/swf/icono_panel.swf", symbol="CollapsiblePanelClosedIcon");
}

/*-------------------------------*/